@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #F0FAFB;
}

.button_container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

.files {
    width: 30%;
    height: fit-content;
    min-height: 120px;
    /* background-color: yellow; */
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 10px;
}

.tasks {
    width: 30%;
    height: fit-content;
    min-height: 120px;
    /* background-color: red; */
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 10px;
}

.buttons {
    text-align: center;
}

.resources {
    width: 30%;
    height: fit-content;
    min-height: 120px;
    /* background-color: blue; */
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 10px;
}


.button_container button {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: .375em;
    box-shadow: none;
    box-sizing: border-box;
    color: #363636;
    cursor: pointer;
    display: inline-flex;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    height: 2.5em;
    justify-content: center;
    line-height: 1.5;
    padding: calc(.5em - 1px) 1em;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    margin: 2px;

    &:active {
        border-color: #4a4a4a;
        outline: 0;
    }

    &:focus {
        border-color: #485fc7;
        outline: 0;
    }

    &:hover {
        border-color: #b5b5b5;
    }

    &:focus:not(:active) {
        box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
    }
}

.table_container {
    width: 50%;
    /* background-color: #363636; */
    height: 80vh;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    overflow: scroll;
}

.gantt_container {
    width: 50%;
    /* background-color: violet; */
    height: 80vh;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    overflow: scroll;
}

.chart_div {
    width: 200px;
    background-color: #363636;
}

.second_part_container {
    display: flex;
}

.tasks_table {
    border-style: solid;
    border-width: 1px;
    width: fit-content;
}

.tasks_table tr td,
th {
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    min-width: 7.3vw;
    max-width: 20vw;
    overflow-wrap: break-word;
    padding: 5px;
}

h2 {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
}

dialog {
    width: 380px;
    padding: 20px 30px;
    background-color: rgb(173, 216, 230);
    transition: top 0ms ease-in-out 50ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
    border-radius: 20px;
    justify-content: center;
    text-align: center;

    .close_button {
        color: black;
        font-size: 30px;
        filter: grayscale(1);
        border: none;
        background: none;
        position: absolute;
        top: 15px;
        right: 10px;
        transition: ease filter, transform 0.3s;
        cursor: pointer;
        transform-origin: center;

        &:hover {
            filter: grayscale(0);
            transform: scale(1.1);
        }
    }

    input[type="submit"] {
        width: 60%;
        height: 40px;
        margin: 10px auto;
        justify-content: center;
        display: block;
        background-color: #573b8a;
        font-size: 1em;
        font-weight: bold;
        margin-top: 20px;
        outline: none;
        border: none;
        border-radius: 5px;
        transition: .2s ease-in;
        cursor: pointer;
    }

    select {
        width: 300px;
        appearance: none;
        border: none;
        outline: none;
        border-bottom: .2em solid #5e97f6;
        background-color: rgba(#5e97f6, .2);
        border-radius: .2em .2em 0 0;
        padding: .4em;
        color: #5e97f6;
        height: 50px;
        margin: 5px;
        font-size: 18px;
    }

    .text_input {
        width: 300px;
        appearance: none;
        border: none;
        outline: none;
        border-bottom: .2em solid #5e97f6;
        background-color: rgba(#5e97f6, .2);
        border-radius: .2em .2em 0 0;
        padding: .4em;
        color: #5e97f6;
        height: 30px;
        margin: 5px;
        font-size: 18px;
    }

    h2 {
        font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-style: italic;
        font-size: 35px;
        color: black;
    }
}