*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.center button{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: aqua;
}

.popups{
    position: absolute;
    top: -150%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background-color: bisque;
    transition: top 0ms ease-in-out 50ms,
    opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;
}
.popups.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
    opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;
}
.popups .close_button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border: 15px;
    cursor: pointer;
}

.popups .form h2{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popups .form .form-element{
    margin:15px 0px;
}

.popups .form .form-element lavel{
    font-size: 14px;
    color:#222;
}